/* -------------------------------------------------------------------------- */
/*                                  chipBoxs                                  */
/* -------------------------------------------------------------------------- */
.chipBox {
    perspective: 1000px;

    background-color: gainsboro;
    font-weight: bold;

    border-radius: 50%;
    border: black groove 5px;

    margin: 0.3rem;
    padding: 2.5rem;
}

.sizeChipBox {
    padding: 2rem;
}

.animationTurn {
    animation: 5s giro linear infinite;
}


@keyframes giro {
    100% {
        transform: rotateY(1260deg);
    }
}



